* {
    box-sizing: border-box;
}

td {
    padding: 0;
}

.calculator__wrapper {
    display: flex;
    justify-content: center;
}

.table {
    border-spacing: 0;
    border: 2px solid rgb(197, 195, 195);
    border-radius: 10px;
    width: 320px;
    min-height: 400px;
    overflow: hidden;
    position: relative;
}
.buttons button {
    height: 100%;
    padding: 0;
    margin: 0;
}
.buttons td {
    background-color:rgb(255, 255, 255);
    width: 80px;
    height: 60px;
}

.buttons td:not(:last-child){
    border-right: 1px solid rgb(197, 195, 195);
}

.buttons td:last-child{
    background-color: salmon;

}

.buttons td{
    border-top: 1px solid rgb(197, 195, 195);
}

.buttons td{
    text-align: center;
    vertical-align: middle;
}

.buttons button {
    background-color: inherit;
    border: none;
    height: 100%;
    width: 100%;
    transition: background-color 0.1s ease-in;
    font-size: 20px;
}

.buttons td:not(.staples):hover {
    background-color: rgb(233, 233, 233);
}

.buttons td:last-child:hover {
    background-color: rgba(240, 137, 40, 0.466);
}

.buttons td:last-child {
    background-color: rgb(240, 137, 40);
}

.display__wrapper{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 80px;
    height: 100%;
    align-items: end;
}
.display__text {
    max-width: 316px;
    font-size: 20px;
    padding: 5px 13px;
    text-align: right;
    height: 33px;
}

.display__input{
    box-sizing: border-box;
    font-size: 35px;
    width: 316px;
    height: 50px;
    border: none;
    padding: 0;
    margin: 0;
    padding: 5px 13px;
    text-align: right;
}

.display__input:focus {
    outline: none;
}


.staples-divide {
    position: relative;
    display: flex;
    height: 100%;
    overflow: hidden;
}

.staples-divide::after {
    display: block;
    content: "";
    top: 0;
    right: 50%;
    position: absolute;
    width: 1px;
    height: 103%;
    background-color:rgb(197, 195, 195);
}

.staple--right:hover,
.staple--left:hover{
    background-color: rgb(233, 233, 233);
}